.button {
	color: lightgreen;
	border: 1px solid #ccc;
	padding: 5px;
}

.link {
	color: dodgerblue;
	text-decoration: underline;
}

.text {
	font-style: italic;
}

.has-data {
	cursor: pointer;
	font-size: 1.1rem;
	border: 1px dashed #ccc;
	padding: 5px;
}

li {
	margin-bottom: 1rem;
}
